<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- rolling file appender -->
<appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="C:/App/NDSUwebApp/NDSUWebApp.log" />
    <param name="Append" value="true" />
    <param name="ImmediateFlush" value="true" />
    <param name="MaxFileSize" value="10MB" />
    <param name="MaxBackupIndex" value="5" />
 
    <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="$##$logtime|:|%d{yyyy-MM-dd HH:mm:ss}$##$level|:|%-5p$##$ clsname|:|%F$##$ mtdname|:|%M$##$  lnum|:|%L$##$ msg|:|%m%n"/>
    </layout>
</appender>
	
	<!-- Application Loggers -->
	<logger name="edu.ndsu.csci717">
		<level value="INFO" />
	</logger>
	
	<logger name="com.gargoylesoftware.htmlunit">
		<level value="fatal" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework.web">
		<level value="ERROR" />
	</logger>
	

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<priority value="error" />
		<appender-ref ref="file" />
	</root>
	
</log4j:configuration>
